.card-db {
    position: relative;
    top: 0;
    left: 0;
}

/*.am-card-body {*/
/*padding: 10px 10px 10px;*/
/*background-image: url(bg-top.png);*/
/*background-size: cover;*/
/*border: none;*/
/*}*/

/*.am-progress-outer {*/
    /*background-color: #2F3F75;*/
    /*border-radius: 5px 5px 5px 5px;*/
/*}*/

/*.am-progress-bar {*/
    /*border: 4px solid #FCB53F;*/
    /*border-radius: 5px 0px 0px 5px;*/
/*}*/

.card-container {
    width: 100%;
}

.card-body {
    position: relative;
    margin: 5px 7px 0px 7px;
    border: none;
}

.card-foot {
    position: relative;
    margin: -3px 7px 5px 7px;
    text-align: center;
    border: none;
    font-size: 80%;
}

.status-tag {
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.60);
    font-size: 0.5em;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #fe8f1e;
    float: left;
    background-color: transparent;
    color: #fe8f1e;
    text-align: center;
    line-height: 100%;
}

span {
    color: #ffffff;
}